*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  background-color: red;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgba(11,221,123,1) 0%, rgba(29,253,250,1) 50%, rgba(12,7,1,1) 100%);
}